
.FBlogo {
    height: 103px;
    width: 103px;
    padding: 40px;
}

.TWlogo {
    height: 103px;
    width: 103px;
    padding: 40px;
}

.contactUs {
    background: white;
}
.TeamPic {
    height: 50%;
    width: 50%;
}
.ContactPic{
    max-width: 100%;
}