.navbar a{
    color: blue;
    padding-right: 1em;
  }
  
  .navbar a:active {
    color: rgb(0, 32, 138);
  }
  
  .navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #55b3b4;
  }
  .navbar li {
    display: inline-block;
    list-style: none;
  }
  
  .navbar {
    text-indent: 0;
    padding-left: 0;
    margin-left: 0;  
  }

  .navbar li a {
    display: block;
    width: 120px;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
  }
  .navbar li a:hover {
    background-color: #45a3a4;
}