.App {
  text-align: center;
}

.App-logo {
  height: 80px;
  position:absolute;
  left:20px;
}
.footer-logo{
  height: 80px;
  float: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2.5em;
}

.App-intro {
  font-size: large;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

footer{
  text-align: left;
  padding: 50px 70px;
  height: 200px;
  display: flex;
}

footer div{
  flex: 4 1 auto;
  min-width: 300px;
}
.logo{
  flex: 0 0 auto;
  width: 80px;
  min-width: auto;
}
